<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Donors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Logo and Navigation Links -->
        <a class="navbar-brand" href="/">
            <img src="/logo.jpeg" alt="Blood Donors Logo" class="logo" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add">Add User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/banks">Blood Banks</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
            </ul>
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Enter blood group" name="bloodType" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <!-- Header Section -->
    <header class="text-center">
        <h1>Welcome to Blood Donors</h1>
        <p>Your Trusted Source for Blood Donation</p>
        <img src="/hero.png" alt="logo" class="logo" width="200px">
    </header>

    <!-- Donor List Section -->
<h2>All Donors</h2>
<ul class="list-group">
    <% donors.forEach(donor => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Name: <%= donor.name %><br>
            Blood Type: <%= donor.bloodType %><br>
            Phone: <%= donor.phone %><br>
            Address: <%= donor.address %><br>
          <div>
            <form action="/remove" method="POST" style="display: inline;">
                <input type="hidden" name="donorId" value="<%= donor._id %>">
                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
            </form>
            <button onclick="showUpdateForm('<%= donor._id %>')" class="btn btn-primary btn-sm">Update</button>
            <div id="updateForm<%= donor._id %>" style="display: none;">
                <form id="updateForm" onsubmit="updateDonor(event, '<%= donor._id %>')">
                    <input type="text" name="name" placeholder="New Name">
                    <input type="text" name="phone" placeholder="New Phone">
                    <input type="text" name="address" placeholder="New Address">
                    <input type="text" name="bloodType" placeholder="New Blood Type">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>
          </div>
        </li>
    <% }); %>
</ul>

<script>
    function showUpdateForm(donorId) {
        var updateForm = document.getElementById('updateForm' + donorId);
        if (updateForm.style.display === "none") {
            updateForm.style.display = "block";
        } else {
            updateForm.style.display = "none";
        }
    }

    async function updateDonor(event, donorId) {
        event.preventDefault();
        const form = event.target;
        const formData = {
            name: form.elements.name.value,
            phone: form.elements.phone.value,
            address: form.elements.address.value,
            bloodType: form.elements.bloodType.value
        };
        const response = await fetch('/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ donorId, ...formData })
        });
        if (response.ok) {
            location.reload();
        } else {
            console.error('Error updating donor');
        }
    }

</script>

</div>
</body>
</html>